---
---
/* modify Bootstrap variables here */

@import 'bootstrap/bootstrap';

/* add additional CSS rules below */

.pubitem {
  margin: 2em 0;
  line-height: 1em;
}

.pubtitle {
  margin-bottom: .5em;
  line-height: 1.2em;
  font-weight: bold;
}

.pubauthors, .pubinfo {
  font-size: 75%;
  margin-bottom: .75em;
}

.pubteaser {
  clear: both;
}

.pubteaser a {
  float: left;
  margin-right: 2em;
}

.pubteaser img {
  width: 100px;
  border: 1px solid black;
}

.publinks {
  font-size: 75%;
}

.publication-authors {
  margin: 0.5rem 0;
}

.publication-info {
  margin: 0.5rem 0;
}

.publication-teaser {
  margin: 2em;
}

.publication-teaser img {
  border: none;
}
